*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(32, 30, 30);
  font-family: Inter,sans-serif;
}
ul {
  list-style: none;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar li {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 400;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
}
.pageName{
  color: #Ffffff;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 4.75rem;
}
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.card{
  width: 1140px;
  padding-top: 75px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-evenly;
  color: #fff;
}
.card-body{
  width: 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #0f0f0f;
}